body {
    background-image: url('came.jpg'); 
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    height: 95vh; 
    position: relative;
    color: white; 
}
.container {
    height: 80%; 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
}
